@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

:root {
    --yellow: rgb(244, 217, 60);
    --black: rgb(51, 51, 51);
    --blue: rgb(33, 44, 197);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', cursive;
    margin: 0px;
    height: 100vh;
    background-image: url(/images/minion1.jpg);
    background-repeat: no-repeat;
    background-size: 20% 82%;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    padding: 1rem;
    font-family: 'Kalam', cursive;
    font-size: larger;
    color: var(--black);
}

.heading {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: rgb(244, 217, 60);
    width: 100%;
    color: rgb(33, 44, 197);
    font-weight: 700;
}



#translate-output {
    min-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
    padding: 1rem;
    font-family: 'Kalam', cursive;
    font-size: larger;
    color: var(--black);

}

button {
    background-color: var(--yellow);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: larger;
    font-weight: 700;
    border-radius: 1rem;
    color: var(--blue);

}

#btn-translate:hover {
    background: #E8BB1D;
    text-decoration: none;
    cursor: pointer;
    
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    background-color: rgb(244, 217, 60);
    color: black;
}

footer p {
    max-width: 600px;
    margin: auto;
    font-size: medium;
    display: inline-block;

}

img{
    width: 5%;
}